body {
    height: 100vh;
}

ul {
    height: auto;
}
ul, li {
    height: 100vh;
    display: inline;
    display: flex;
    align-items: center;
}
.icon {
    display: inline-block;
    height: 100%;
    width: 100%;
}
.i-html, .i-css, .i-js{
    background-image: url("/d416199ca6ecdbd0f8a3.png");
    background-repeat: no-repeat;
    width: 50%;
    border: solid 1px red;
    border-radius: 33px;
}
.i-html {
    background-position-x: left;
}
.i-css {
    background-position-x: center;
}
.i-js {
    background-position-x: right;
}

li {
    color: aqua;
    flex-direction: column;
    width: 100%;
}

li:first-child {
    color: black;
}

li:last-child {
    color: red;
}

li:nth-child(2) {
    color: blueviolet;
}
