a{
    color: rgb(163, 2, 2);
    text-decoration: none;
}

a::after {
    background-color: rgb(163, 2, 2);
    content: '';
    position: absolute;
    height: 2px;
    display: block;
    width: 110px;
    left: 69px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.25s linear;
  }

  a:hover::after {
    transform: scaleX(1);
    transition: transform 0.25s linear;
  }
